MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_USER_ADMIN=
MYSQL_PASSWORD=
MYSQL_PASSWORD_ADMIN=

WP_ADMIN_USER= // can't have 'admin' or 'Admin'
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL= // must be a valid email address
WP_USER=
WP_USER_PASSWORD=
WP_USER_EMAIL= // must be another valid email address